#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blanchedalmond;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.pizza-card {
  background-color: aliceblue;
  padding: 1rem;
  margin: 0.1rem;
}

.detailed-card-container {
  display: flex;
}
.card-img {
  max-width: 20rem;
}

.carrito-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.carrito-card h2,
button {
  padding: 0.5 rem;
  margin: 0.5 rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
